/****** Object:  Database [OWASP]    Script Date: 06/02/2020 9:54:29 pm ******/
CREATE DATABASE [OWASP]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OWASP', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\OWASP.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OWASP_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\OWASP_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OWASP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OWASP]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 06/02/2020 9:54:29 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [int] NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditTB]    Script Date: 06/02/2020 9:54:29 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditTB](
	[UsersAuditID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [varchar](50) NULL,
	[SessionID] [varchar](50) NULL,
	[IPAddress] [varchar](50) NULL,
	[PageAccessed] [varchar](200) NULL,
	[LoggedInAt] [datetime] NULL,
	[LoggedOutAt] [datetime] NULL,
	[LoginStatus] [varchar](200) NULL,
	[ControllerName] [varchar](200) NULL,
	[ActionName] [varchar](200) NULL,
	[UrlReferrer] [varchar](200) NULL,
	[Method] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BankAccount]    Script Date: 06/02/2020 9:54:29 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BankAccount](
	[BankAccountId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 06/02/2020 9:54:29 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentId] [int] NOT NULL,
	[EmailId] [varchar](50) NULL,
	[Comment] [varchar](100) NULL,
	[CreateDate] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DemoTable]    Script Date: 06/02/2020 9:54:29 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DemoTable](
	[ID] [int] NULL,
	[Simplecolumn] [varchar](50) NULL,
	[Encrycolumn] [varbinary](500) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registration]    Script Date: 06/02/2020 9:54:29 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registration](
	[RegistrationId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[EmailId] [varchar](50) NULL,
	[Username] [varchar](50) NULL,
	[Password] [nvarchar](100) NULL,
	[CreatedDate] [datetime] NULL,
	[UpdateDate] [datetime] NULL,
	[Status] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockTb]    Script Date: 06/02/2020 9:54:29 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockTb](
	[Stockid] [int] NOT NULL,
	[Symbol] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[Country] [varchar](50) NULL,
	[Marketcap] [decimal](18, 2) NULL,
	[Employees] [int] NULL,
	[CurrentDate] [datetime] NULL,
	[Value] [decimal](18, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 06/02/2020 9:54:29 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Id] [int] NOT NULL,
	[AspNetUserId] [int] NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetUsers] ([Id], [Username], [Password]) VALUES (1, N'Administrator', N'PowerfullBoss')
INSERT [dbo].[AspNetUsers] ([Id], [Username], [Password]) VALUES (2, N'meredith12', N'meredith12')
INSERT [dbo].[AspNetUsers] ([Id], [Username], [Password]) VALUES (3, N'Arturo', N'Arturo')
SET IDENTITY_INSERT [dbo].[AuditTB] ON 

INSERT [dbo].[AuditTB] ([UsersAuditID], [UserID], [SessionID], [IPAddress], [PageAccessed], [LoggedInAt], [LoggedOutAt], [LoginStatus], [ControllerName], [ActionName], [UrlReferrer], [Method]) VALUES (1, N'0', N'3341f649-9635-c239-ceed-9745597ceef9', N'::1', N'http://localhost:57777/', CAST(N'2018-08-11T19:06:10.230' AS DateTime), NULL, N'A', N'Account', N'Login', NULL, N'GET')
INSERT [dbo].[AuditTB] ([UsersAuditID], [UserID], [SessionID], [IPAddress], [PageAccessed], [LoggedInAt], [LoggedOutAt], [LoginStatus], [ControllerName], [ActionName], [UrlReferrer], [Method]) VALUES (2, N'0', N'95c1aa3b-24b4-a12a-5dbe-2c009a74e7ad', N'::1', N'http://localhost:57777/', CAST(N'2018-08-11T19:06:32.990' AS DateTime), NULL, N'A', N'Account', N'Login', NULL, N'GET')
INSERT [dbo].[AuditTB] ([UsersAuditID], [UserID], [SessionID], [IPAddress], [PageAccessed], [LoggedInAt], [LoggedOutAt], [LoginStatus], [ControllerName], [ActionName], [UrlReferrer], [Method]) VALUES (3, N'2', N'95c1aa3b-24b4-a12a-5dbe-2c009a74e7ad', N'::1', N'http://localhost:57777/Dashboard/Index', CAST(N'2018-08-11T19:06:35.640' AS DateTime), NULL, N'A', N'Dashboard', N'Index', NULL, N'GET')
GO
SET IDENTITY_INSERT [dbo].[AuditTB] OFF
SET IDENTITY_INSERT [dbo].[BankAccount] ON 

INSERT [dbo].[BankAccount] ([BankAccountId], [Name]) VALUES (1, N'Matthew Raymer')
INSERT [dbo].[BankAccount] ([BankAccountId], [Name]) VALUES (2, N'John Doe')
INSERT [dbo].[BankAccount] ([BankAccountId], [Name]) VALUES (3, N'Matthew Raymer fsafasfevgasgasrtgae')
SET IDENTITY_INSERT [dbo].[BankAccount] OFF
INSERT [dbo].[Comments] ([CommentId], [EmailId], [Comment], [CreateDate]) VALUES (1, N'<script>alert(''Hello XSS Attack'');</script>', N'<script>alert(''Hello XSS Attack'');</script>', CAST(N'2018-08-12T12:40:12.617' AS DateTime))
INSERT [dbo].[Comments] ([CommentId], [EmailId], [Comment], [CreateDate]) VALUES (2, N'<script>alert(''Hello XSS Attack'');</script>', N'<script>alert(''Hello XSS Attack'');</script>', CAST(N'2018-08-12T12:43:44.617' AS DateTime))
INSERT [dbo].[Comments] ([CommentId], [EmailId], [Comment], [CreateDate]) VALUES (3, N'Demo@gg.com', N'<script>alert(''Hello XSS Attack'');</script>', CAST(N'2018-08-12T12:45:55.617' AS DateTime))
INSERT [dbo].[DemoTable] ([ID], [Simplecolumn], [Encrycolumn]) VALUES (1, N'One', 0x00E2999F044BD54ABA9FB89EACE0E2940100000087C8100453EA926E6E5801D0C0A1775E25900FFF8C45D3D8)
INSERT [dbo].[DemoTable] ([ID], [Simplecolumn], [Encrycolumn]) VALUES (2, N'Two', 0x00E2999F044BD54ABA9FB89EACE0E294010000003F0212667A4AD7714D7E4DA48401A62F7AF645E59F9CCCAD)
INSERT [dbo].[DemoTable] ([ID], [Simplecolumn], [Encrycolumn]) VALUES (1, N'One', 0x00E2999F044BD54ABA9FB89EACE0E2940100000087C8100453EA926E6E5801D0C0A1775E25900FFF8C45D3D8)
SET IDENTITY_INSERT [dbo].[Registration] ON 

INSERT [dbo].[Registration] ([RegistrationId], [FirstName], [LastName], [EmailId], [Username], [Password], [CreatedDate], [UpdateDate], [Status]) VALUES (1, N'demo', N'demo', N'demo@gmail.com', N'demo', N'81DC9BDB52D04DC20036DBD8313ED055', CAST(N'2018-08-07T23:42:33.553' AS DateTime), CAST(N'2018-08-07T10:48:17.013' AS DateTime), 1)
INSERT [dbo].[Registration] ([RegistrationId], [FirstName], [LastName], [EmailId], [Username], [Password], [CreatedDate], [UpdateDate], [Status]) VALUES (2, N'demo2', N'demo2', N'demo2@gmail.com', N'demo2', N'81DC9BDB52D04DC20036DBD8313ED055', CAST(N'2018-08-07T23:42:33.553' AS DateTime), CAST(N'2018-08-07T10:48:17.013' AS DateTime), 1)
INSERT [dbo].[Registration] ([RegistrationId], [FirstName], [LastName], [EmailId], [Username], [Password], [CreatedDate], [UpdateDate], [Status]) VALUES (3, N'demo3', N'demo3', N'demo3@gmail.com', N'demo3', N'81DC9BDB52D04DC20036DBD8313ED055', CAST(N'2018-08-07T23:42:33.553' AS DateTime), CAST(N'2018-08-07T10:48:17.013' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Registration] OFF
INSERT [dbo].[StockTb] ([Stockid], [Symbol], [Name], [Country], [Marketcap], [Employees], [CurrentDate], [Value]) VALUES (1, N'gcomp1', N'GComp1', N'India', CAST(850000000.00 AS Decimal(18, 2)), 18000, CAST(N'2017-05-01T00:00:00.000' AS DateTime), CAST(771.41 AS Decimal(18, 2)))
INSERT [dbo].[StockTb] ([Stockid], [Symbol], [Name], [Country], [Marketcap], [Employees], [CurrentDate], [Value]) VALUES (2, N'gcomp2', N'GComp2', N'India', CAST(25000000.00 AS Decimal(18, 2)), 10000, CAST(N'2017-05-01T00:00:00.000' AS DateTime), CAST(350.11 AS Decimal(18, 2)))
INSERT [dbo].[StockTb] ([Stockid], [Symbol], [Name], [Country], [Marketcap], [Employees], [CurrentDate], [Value]) VALUES (3, N'gcomp3', N'GComp3', N'India', CAST(15000000.00 AS Decimal(18, 2)), 6000, CAST(N'2017-05-01T00:00:00.000' AS DateTime), CAST(450.11 AS Decimal(18, 2)))
INSERT [dbo].[Student] ([Id], [AspNetUserId], [LastName], [FirstName]) VALUES (1, 1, N'Alexander', N'Carson')
INSERT [dbo].[Student] ([Id], [AspNetUserId], [LastName], [FirstName]) VALUES (2, 2, N'Alonso', N'Meredith')
INSERT [dbo].[Student] ([Id], [AspNetUserId], [LastName], [FirstName]) VALUES (3, 3, N'Anand', N'Arturo')
/****** Object:  StoredProcedure [dbo].[GetEmployeebyID]    Script Date: 06/02/2020 9:54:29 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[GetEmployeebyID] 
     @EmpID int

AS
BEGIN
	SELECT TOP 1000 [EmpID]
      ,[Name]
      ,[Address]
      ,[Age]
      ,[Salary]
      ,[worktype]
    FROM[EmployeeDetails] 
    where [EmployeeDetails].EmpID =@EmpID 
END

GO
/****** Object:  StoredProcedure [dbo].[GetEmployeebyIDandName]    Script Date: 06/02/2020 9:54:29 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetEmployeebyIDandName] 
     @EmpID int

AS
BEGIN
	
	SELECT TOP 1000 [EmpID]
      ,[Name]
      ,[Address]
      ,[Age]
      ,[Salary]
      ,[worktype]
    FROM[EmployeeDetails] 
    where [EmployeeDetails].EmpID =@EmpID
	
END

GO
/****** Object:  StoredProcedure [dbo].[InsertEmployee]    Script Date: 06/02/2020 9:54:29 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertEmployee] @Name VARCHAR(50)
	,@Address VARCHAR(50)
	,@Age INT
	,@Salary DECIMAL(18, 0)
	,@worktype VARCHAR(50)
AS
BEGIN
	INSERT INTO [EmployeeDetails] (
		[Name]
		,[Address]
		,[Age]
		,[Salary]
		,[worktype]
		)
	VALUES (
		@Name
		,@Address
		,@Age
		,@Salary
		,@worktype
		)
END

GO
/****** Object:  StoredProcedure [dbo].[procCreateAccount]    Script Date: 06/02/2020 9:54:29 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[procCreateAccount]

@name varchar(50)

AS
BEGIN
	INSERT INTO BankAccount (Name) VALUES (@name)
END
GO
/****** Object:  StoredProcedure [dbo].[reCreateBankAccount]    Script Date: 06/02/2020 9:54:29 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[reCreateBankAccount]
AS
BEGIN
	
	IF EXISTS (SELECT * FROM sysobjects WHERE name='BankAccount' and xtype='U')
		DROP TABLE [dbo].[BankAccount]

	IF NOT EXISTS (SELECT * FROM sysobjects WHERE name='BankAccount' and xtype='U')
		CREATE TABLE [dbo].[BankAccount](
			[BankAccountId] [int] IDENTITY(1,1) NOT NULL,
			[Name] [varchar](50) NOT NULL
		) ON [PRIMARY]
END
GO
/****** Object:  StoredProcedure [dbo].[reCreateRegistration]    Script Date: 06/02/2020 9:54:29 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[reCreateRegistration]
AS
BEGIN
	
	IF EXISTS (SELECT * FROM sysobjects WHERE name='Registration' and xtype='U')
		DROP TABLE [dbo].[Registration]

	IF NOT EXISTS (SELECT * FROM sysobjects WHERE name='Registration' and xtype='U')
		CREATE TABLE [dbo].[Registration](
			[RegistrationId] [int] IDENTITY(1,1) NOT NULL,
			[FirstName] [varchar](50) NULL,
			[LastName] [varchar](50) NULL,
			[EmailId] [varchar](50) NULL,
			[Username] [varchar](50) NULL,
			[Password] [nvarchar](100) NULL,
			[CreatedDate] [datetime] NULL,
			[UpdateDate] [datetime] NULL,
			[Status] [bit] NULL
		) ON [PRIMARY]

	INSERT [dbo].[Registration] ([RegistrationId], [FirstName], [LastName], [EmailId], [Username], [Password], [CreatedDate], [UpdateDate], [Status]) VALUES (1, N'demo', N'demo', N'demo@gmail.com', N'demo', N'81DC9BDB52D04DC20036DBD8313ED055', CAST(N'2018-08-07T23:42:33.553' AS DateTime), CAST(N'2018-08-07T10:48:17.013' AS DateTime), 1)
	INSERT [dbo].[Registration] ([RegistrationId], [FirstName], [LastName], [EmailId], [Username], [Password], [CreatedDate], [UpdateDate], [Status]) VALUES (2, N'demo2', N'demo2', N'demo2@gmail.com', N'demo2', N'81DC9BDB52D04DC20036DBD8313ED055', CAST(N'2018-08-07T23:42:33.553' AS DateTime), CAST(N'2018-08-07T10:48:17.013' AS DateTime), 1)
	INSERT [dbo].[Registration] ([RegistrationId], [FirstName], [LastName], [EmailId], [Username], [Password], [CreatedDate], [UpdateDate], [Status]) VALUES (3, N'demo3', N'demo3', N'demo3@gmail.com', N'demo3', N'81DC9BDB52D04DC20036DBD8313ED055', CAST(N'2018-08-07T23:42:33.553' AS DateTime), CAST(N'2018-08-07T10:48:17.013' AS DateTime), 1)
END
GO
/****** Object:  StoredProcedure [dbo].[reCreateStudent]    Script Date: 06/02/2020 9:54:29 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[reCreateStudent]
AS
BEGIN
	
	IF EXISTS (SELECT * FROM sysobjects WHERE name='Student' and xtype='U')
		DROP TABLE [dbo].[Student]

	IF NOT EXISTS (SELECT * FROM sysobjects WHERE name='Student' and xtype='U')
		CREATE TABLE  [dbo].[Student](
			[Id] [int] NOT NULL,
			[AspNetUserId] [int] NOT NULL,
			[LastName] [nvarchar](50) NOT NULL,
			[FirstName] [nvarchar](50) NOT NULL
		) ON [PRIMARY]
	
	INSERT [dbo].[Student] ([Id], [AspNetUserId], [LastName], [FirstName]) VALUES (1, 1, N'Alexander', N'Carson')
	INSERT [dbo].[Student] ([Id], [AspNetUserId], [LastName], [FirstName]) VALUES (2, 2, N'Alonso', N'Meredith')
	INSERT [dbo].[Student] ([Id], [AspNetUserId], [LastName], [FirstName]) VALUES (3, 3, N'Anand', N'Arturo')
	INSERT [dbo].[Student] ([Id], [AspNetUserId], [LastName], [FirstName]) VALUES (4, 4, N'Barzdukas', N'Gytis')
	INSERT [dbo].[Student] ([Id], [AspNetUserId], [LastName], [FirstName]) VALUES (5, 5, N'Li', N'Yan')
	INSERT [dbo].[Student] ([Id], [AspNetUserId], [LastName], [FirstName]) VALUES (6, 6, N'Justice', N'Peggy')
	INSERT [dbo].[Student] ([Id], [AspNetUserId], [LastName], [FirstName]) VALUES (7, 7, N'Norman', N'Laura')
	INSERT [dbo].[Student] ([Id], [AspNetUserId], [LastName], [FirstName]) VALUES (8, 8, N'Olivetto', N'Nino')
END
GO
/****** Object:  StoredProcedure [dbo].[Usp_GetUserDetailsByRegistrationId]    Script Date: 06/02/2020 9:54:29 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create proc [dbo].[Usp_GetUserDetailsByRegistrationId]
@RegistrationId int
as
begin
select [RegistrationId]
      ,[FirstName]
      ,[LastName]
      ,[EmailId]
      ,[Username]
      ,[Password]
      ,[CreatedDate]
      ,[UpdateDate]
      ,[Status] from Registration where RegistrationId=@RegistrationId
end
GO
USE [master]
GO
