@{
    ViewData["Title"] = "XXE";
}

<h2>Billion Laughs Attack Demo</h2>
<hr />
<form asp-antiforgery="true" name="frm" asp-action="AttackUnsecured">
    <div class="form-group">
        <input type="submit" value="Attack Unsecured" class="btn btn-default" />
    </div>
</form>

<form asp-antiforgery="true" name="frm" asp-action="AttackSecured">
    <div class="form-group">
        <input type="submit" value="Attack Secured" class="btn btn-default" />
    </div>
</form>