/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

html {
    height: 100%;
  }
  
  body {
    background: #ff8800 linear-gradient(transparent, rgba(100,0,0,0.3)) fixed;
    color: #333;
    margin: 1em;
  }
  
  h1 {
    color: black;
  }
  
  hr {
    border: 1px solid #ffaa00;
  }
  
  a {
    color: #ffff33;
  }
  
  #wrap {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
  }
  
  form {
    margin-bottom: 2em;
  }
  
  code {
    font-weight: normal;
    color: #800;
  }
  
  h3 {
  
  }
  
  .info {
    font-size: 0.8em;
  }
  
  .out {
    min-height: 80px;
    border: 1px solid silver;
    background: #ddd;
    margin-bottom: 2em;
    color: #888;
  }